<a href="https://colab.research.google.com/github/laminsurachman/OOP-Phyton/blob/main/learning_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("hello World")

hello World

Python Operator
1. Aritmatic operator
2.Asigment operator
3.Comparation operator
4.logical operator
5.identity operator
6.Membership operator
7.Bitwise operator

In [3]:
#aritmatic opereration
4 + 2
4 - 2
8 - 9
3 * 4
"la" * 8
30 / 5
3 ** 2
3 ** 4
13 // 3
13 % 2

1

In [9]:
#asigment operator
d += 4
print(d)

d -= 5
print(d)

20
15

In [16]:
#python comparation

b = 4
c = 3
print(b==c)
print(b > c)
print( b != c)
print (b < c)

False
True
True
False

In [19]:
#python logical operator
# and , or ,not
a= 7
print (a>6 and a<9)
print (a>6 or a<9)
print(not(a>6 and a<9))

True
True
False

In [3]:
#python identity operations
# is   Returns True if same object
# Is not  Returns True if not same object
fruits = ["grapes","berries"]
my_fruits = ["grapes","berries"]
fav_fruits = fruits
print(fruits is fav_fruits)
print(fruits is my_fruits)
print("apples"not in fruits)

True
False
True

In [5]:
#python membership operator
#in  Return True if a value found
#not in Return True if a value found

fruits = ["grapes","berries"]
print("berries" in fruits)
print("apples" not in fruits)

True
True

In [7]:
#Binary number
# Bit-wise oerator AND &
# & And, ! or, ^ xor, ~not, << left shift, >> Right Shift
5&4
5^4

1

In [8]:
3>>2

0

In [9]:
3<<2

12

In [10]:
#operator Precedence
3 + 4 * 2

11

In [11]:
(3+4)*2

14

In [12]:
print(5 * 3 // 2)

7

DATA TYPES

In [14]:
#INTEGER(int) exs 0,100,-100,1000
#FloatingNumber exs 0.0,3.4,5.7 -27.5
print(type(10))
print(type(10.0))

<class 'int'>
<class 'float'>

In [19]:
#String data
print("Hello World")
print('hey')
print("Hey what\'sup")
print("hello"[1])
print("Hello"[-1])

Hello World
hey
Hey what'sup
e
o

In [21]:
#Bolean Data Type True and False
type(True)
type(False)

bool

In [25]:
#casting of python : int(),Float(),str()
p = '70'
t = '-2'
print(p +t)
print(int(p)+int(t))
c = 7
d = 8
print(float(c) + float(d))

e = 9
f = 8.5
print(str(e),str(f),"are strings")

70-2
68
15.0
9 8.5 are strings

DATA STRUKTUR
1.LIST
2.TUPLE
3.SET
4.DICTIONARY

In [38]:
animals = ["bear","tiger","Lion","panda","elephant"]
for x in animals:
    print(x)
print(animals)

print(animals[0:3])
print(animals[ :4])
print(animals[1:3])
print(animals[ :3])

bear
tiger
Lion
panda
elephant
['bear', 'tiger', 'Lion', 'panda', 'elephant']
['bear', 'tiger', 'Lion']
['bear', 'tiger', 'Lion', 'panda']
['tiger', 'Lion']
['bear', 'tiger', 'Lion']

In [47]:
#LIST Methode extend(),append(),sort(),count(),insert(),pop(),remove(),del()
fruits = ["berries","apple","oranges","grapes"]
vegetables = ["kale","brokoli","lettuce"]

fruits.extend(vegetables)
print(fruits)

vegetables.append("bean")
print(vegetables)

vegetables.sort(reverse=True)
print(vegetables)

print(fruits.count("berries"))

fruits.insert(0, "banana")
print(fruits)

fruits.pop()
print(fruits)

fruits.remove("apple")
print(fruits)

#del fruits
#print(fruits)

['berries', 'apple', 'oranges', 'grapes', 'kale', 'brokoli', 'lettuce']
['kale', 'brokoli', 'lettuce', 'bean']
['lettuce', 'kale', 'brokoli', 'bean']
1
['banana', 'berries', 'apple', 'oranges', 'grapes', 'kale', 'brokoli', 'lettuce']
['banana', 'berries', 'apple', 'oranges', 'grapes', 'kale', 'brokoli']
['banana', 'berries', 'oranges', 'grapes', 'kale', 'brokoli']

In [48]:
# TUPLE (immutable ,())
fruits = ("grapes","apple","berries")
for x in fruits:
  print(x)

grapes
apple
berries

In [52]:
fruits = ("grapes","apple","berries")
print(fruits[2])
print(len(animals))

berries
3

In [56]:
#tuple contructor

animals = tuple(("lion","tiger","bear"))
print(animals)
print(len(animals))
#animals.add("dog")   imutable
#animals[0]= "chetah" imutable
print(animals)

('lion', 'tiger', 'bear')
3
('lion', 'tiger', 'bear')

In [62]:
#Python SET

fruits = {"grapes","apples","barries"}
for x in fruits:
  print(x)

animals =(("lion","tiger","bear"))
print(len(animals))  

#built in Set Methode :add(),apdate(),clear(),discard(),remove(),del()

fruits = {"grapes","apples","berries"}
animals = (("lion","tiger","bear"))

fruits.add("oranges")
print(fruits)

fruits.update(["manggo","kiwi"])
print(fruits)

fruits.remove("kiwi")
print(fruits)

fruits.clear()
print(fruits)

apples
grapes
barries
3
{'oranges', 'berries', 'apples', 'grapes'}
{'manggo', 'grapes', 'kiwi', 'oranges', 'berries', 'apples'}
{'manggo', 'grapes', 'oranges', 'berries', 'apples'}
set()

In [72]:
#Python Dictionary
mycar = {
    "brand":"range roper",
    "model" : "suv",
    "year"  : 1998
}
print(mycar)

#dictionery constructor Methode

mygreens = dict(fruits="green apples",vegetables="kale")
print(mygreens)

#Methode Dictionery
print(mygreens)
print(len(mycar))

mycar["year"] = 2018
print(mycar)
print(mycar.get("year"))

mycar.update ({"color":"silver"})
print(mycar)

b = mycar.keys()
print(b)

mycar.pop("color")
print(mycar)

mycar.clear()
print(mycar)

#del mycar
print(mycar)

{'brand': 'range roper', 'model': 'suv', 'year': 1998}
{'fruits': 'green apples', 'vegetables': 'kale'}
{'fruits': 'green apples', 'vegetables': 'kale'}
3
{'brand': 'range roper', 'model': 'suv', 'year': 2018}
2018
{'brand': 'range roper', 'model': 'suv', 'year': 2018, 'color': 'silver'}
dict_keys(['brand', 'model', 'year', 'color'])
{'brand': 'range roper', 'model': 'suv', 'year': 2018}
{}

In [ ]:
#Dictionery methode:get(),Update(),clear(),keys(),Value(),del()